<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyze your video</title>
</head>
<body>


<form th:if="${!response}" style="margin: auto; display: block; text-align: center; "
      method='post' enctype='multipart/form-data'>
    <input type='file' name='video'>
    <button>Analyze the video</button>
</form>

<div th:if="${response}">
    <a href="/">Go back</a>
    <h3>Format</h3>

    <ul>
        <div th:each="m : ${response.format}">
            <td th:text="${m.key}"></td>
            :
            <td th:text="${m.value}"></td>
        </div>
    </ul>

    <h3>Streams</h3>
    <ul th:each="stream, iter : ${response.streams}">
        <h4>
            <div th:text="${iter.index}"></div>
        </h4>
        <div th:each="m : ${stream}">
            <td th:text="${m.key}"></td>
            :
            <td th:text="${m.value}"></td>
        </div>
    </ul>

    <div th:if="${response.error}">
        <h3>Error</h3>
        <div th:text="${response.error}"></div>
    </div>
</div>
</body>
</html>